{% extends "users/layout/app.html" %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Voucher Type</h4>
                <p class="card-description">
                Add new voucher type from here
                </p>
                <form class="forms-sample" action="{% url 'add-voucher-type' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputName1">Branch</label>
                        <select class="js-example-basic-single w-100" name="branch_id" required>
                            <option value="" disabled selected>Select Branch</option>
                            {% for x in list_branch %}
                            <option value="{{x.id}}">{{x.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" placeholder="Description" name="description" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Type Of Voucher</label>
                        <select class="js-example-basic-single w-100" name="type_of_voucher">
                            <option value="" disabled selected>Select Type Of Voucher</option>
                            {% for x in list_voucher_types %}
                            <option value="{{x.id}}">{{x.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Start Index</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Start Index" name="start_index" required>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}