{% extends "users/layout/app.html" %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Branch</h4>
                <p class="card-description">
                Add new branch from here
                </p>
                <form class="forms-sample" action="{% url 'add-branch' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Branch Code</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Branch Code" name="branch_code" value="{{branch_code}}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Entity</label>
                        <select class="js-example-basic-single w-100" name="entity_id" required>
                            <option value="" disabled selected>Select Entity</option>
                            {% for x in get_entity %}
                            <option value="{{x.id}}">{{x.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Address</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Address" name="address" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">City</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="City" name="city" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">State</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="State" name="state" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Country</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Country" name="country" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Pincode</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Pincode" name="pincode" required>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}