{% extends "users/layout/app.html" %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update User</h4>
                <p class="card-description">
                Update user from here
                </p>
                <form class="forms-sample" action="{% url 'update-user' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{get_user_data.id}}">
                    <div class="form-group">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                Active
                                <input type="checkbox" class="form-check-input"  id="checkBox" name="active" value="true" {% if get_user_data.active == True %} checked {% endif %}>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" value="{{get_user_data.name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Email</label>
                        <input type="email" class="form-control" id="exampleInputName1" placeholder="Email" name="email" value="{{get_user_data.email}}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">User Role</label>
                        <select class="js-example-basic-single w-100" name="user_role_id" required>
                            <option value="" disabled selected>Select User Role</option>
                            {% for x in get_user_roles %}
                            <option value="{{x.id}}" {% if x.id|slugify == get_user_data.user_role_id.id|slugify %} selected {% endif %}>{{x.role}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Branch</label>
                        <select class="js-example-basic-single w-100" name="branch_id" required>
                            <option value="" disabled selected>Select Branch</option>
                            {% for x in list_branch %}
                            <option value="{{x.id}}" {% if x.id|slugify == get_user_data.branch_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Upload Profile Image</label>
                        <p class="mb-3">
                            {% if get_user_data.profile_image %}
                            <img src="{{get_user_data.profile_image.url}}" height="auto" data-enlargeable width="100" style="cursor: zoom-in">
                            {% endif %}
                        </p>
                        <input type="file" name="image" class="file-upload-default" id="image">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Profile Image" style="height: 45px;">
                            <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}